body{
    margin: 0;
    background-color: aqua;
}

h1{
    font-size: 60px;
    text-align: center;
}
#start{
    height: 60px;
    font-size: 30px;
    border-radius: 15px;
    background-color: blue;
    color: white;
    display: block;
    margin: 0 auto;
}