body{
    margin: 0;
    background-color: aqua;
}
#result-value{
    font-size: 60px;
    text-align: center;
}
button{
    height: 50px;
    font-size: 25px;
    border-radius: 15px;
    background-color: blue;
    color: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}